*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
    margin: 0;
    width: 100vw;
}

$type-bright: white;
$type-dark: #363C45;

.wrapper {
  display: grid;
  background-color: purple;
  grid: {
    template-columns: 1fr 1fr 1fr;
    gap: 10px;
    auto-rows: minmax(100px, auto);
  }
}
.col-right-container {
  opacity: .8;
}
.col-one {
  grid: {
    column: 1 / 1;
    row: 1 / 5;
  }
  width: 20vw;
  max-width: 300px;
  border: 1px solid white;


}
.col-two {
  border: 1px solid white;
  grid: {
    column: 2 / 2;
    row: 1 / 5;
  }


}
.col-three {
  border: 1px solid white;
  grid: {
    column: 3 / 3;
    row: 1 / 5;
  }


}

h1, h2, h3, h4, h5, h6 {
    font: {
        family: 'Raleway', sans-serif;
    }
    text: {
        decoration: none;
    }
    letter-spacing: inherit;
    color: $type-dark;
    margin: {
        bottom: 1.2em;
    }
}
pre, code {
    font: {
        family: 'Inconsolata', monospace;
    }
}
p, a, button, label {
    font: {
        family: 'Crimson Text', serif;
    }
    color: $type-dark;
}
.inline-list {
    display: inline;
}
