@keyframes spin {
    to { transform: rotateZ(360deg);}
}
body {
    background-color: black;
    background-image: url(stars.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'helvetica', sans-serif;
}
.earth {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}
.earth img {
    height: 20vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
}
.moon-container {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}
.moon {
    animation: spin 20s linear infinite;
    background: none;
    height: 15vh;
    pointer-events: none;
    transform-origin: 25px;
    width: 15vh;
}
.moon img {
    height: 15vh;
    transform: translateX(-160px) translateY(-160px);
    width: 15vh;
}
.earth img, .moon img {
  border-radius: 50%;
  box-shadow: 0 0 12em 1em rgba(140, 140, 140, .6);
}
.earth .more-info {
  background-image: linear-gradient(
      to bottom, 
      rgba(10,10,10,1), 
      rgba(0, 0, 0, 0.8)
  );
  border-radius: 1em;
  color: #fff;
  opacity: 0;
  padding: 1em;
  transform-origin: 0 0;
  transform: scale(.8);
  width: 400px;
}
.earth .more-info h1 {
  margin: 0 0 1em;
  text-align: right;
}
.space * {
    transition: all 4s cubic-bezier(0,1.5,.3,1);
}
.space h1, li {
  opacity: 0;
}
.earth:hover img { 
    transform: translateX(-75px) translateY(-75px) scale(.5); 
}
.earth:hover ~ .moon-container { 
    transform: translateX(-75px) translateY(-75px) scale(.5); 
}
.earth:hover ~ .moon-container img { 
    transform: translateX(-140px) translateY(-140px); 
}
.earth:hover .more-info { 
    opacity: 1; 
    transform: translateX(5vw) translateY(5vh); 
}
.space:hover h1, li {
  opacity: 1;
}